body {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    color: rgb(172, 182, 255);
    background-color:	#9a7373;
}

.header_top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    background-color: #FFAD40;
    border-radius: 25px;
    margin-top: 25px;   
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.logo img {
    display: block;
    width: 50px;
    height: 50px;
}
nav{
    display: flex;
    gap: 25px;
}
nav a{
    color: aqua;
    font-size: 18px;
}
.auth button{
    outline: none;
    border: none;
    background-color:#090974;
    color: azure;
    border-radius: 15px;
    padding: 25px;
}
.info_text{
    min-height: 100vh;
    border-radius: 25px;
    background-image: url(../img/ada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.info_text h1{
    margin: 10px 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(241, 235, 235);
}
.info_text p{
    margin: 10px 20px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1000px;
    color:rgb(241, 235, 235);
}
.info_text a {
padding: 15px;
text-decoration: none;
color: rgb(241, 235, 235);
font-size: 60px;

}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.flex_container div {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}

.flex_perrent {
    width: 200px;
    
}

.flex_perrent img {
    width: 100%;
    height: 200px;
    padding: 25px;
}
 p{
    margin: 10px 20px;
    text-align: center;
    font-size: 20px;
    color:black;
    padding-right: 20px;
}
h2{
    margin: 10px 20px;
    text-align: center;
    font-size: 30px;
    padding-left: 20px;
    color: aquamarine;
    text-decoration: underline;
}
footer {
    color: #817f7f; 
    padding: 30px; 
    text-align: center; 
}
